<mat-sidenav-container>
  <mat-sidenav
    class="sidenav"
    #sidenav
    [opened]="isSmallScreen"
    [fixedInViewport]="true"
    [mode]="sidenavMode"
  >
    <mat-toolbar> Navigation </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/voltar">Home</a>
      <a mat-list-item href="/buttonIcon">Button Icons</a>
      <a mat-list-item href="/formfield">Form Field Input</a>
      <a mat-list-item href="/progress">Progress Bar</a>
      <a mat-list-item href="/spinner">Spinner</a>
      <a mat-list-item href="/tabs">Tabs</a>
      <a mat-list-item href="/datepicker">Date Picker</a>
      <a mat-list-item href="/snackbar">Snackbar</a>
      <a mat-list-item href="/dialog">Dialog</a>
      <a mat-list-item href="/datatable">Datatable</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-progress-spinner></app-progress-spinner>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
